

#landing-about {
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

.jumbotron {
	background-image: url(../images/1.jpeg);
	height: 70vh;
	border-radius: 0;
}

.fadeIn {
	animation-duration: 5s;
}


#mission {
	height: 100%;
	/*background-color: #141414;*/
	color: #141414;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}